body {
 
    background-color: purple;
}


.modalImage{
	display: block;
	margin: auto;
	width: 75%;
}
.modal-body-startModal {
margin-top: 15px;
margin-bottom: 15px;
padding: 10px;
}
.modal-body.scoreModal {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
}

.modal-footer {
	margin-top: 40px;
	border-top: 0px;
}
.answer-button {
	margin: 10px;
	padding: 10px;
}